.main {
  display: flex;

  flex-direction: column;

  align-items: center;
  position: relative;
}

.petal-image:hover{
 opacity: 0;
}

.prose{
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
  text-align: left;
}
@media (max-width: 768px) {
  .prose {
    max-width: 80vw;
  }
  .prose h1
  {
    width: 80vw;
  }
}
.prose h1 {
  width: 65ch;
  color: var(--primary-white)
}
  .prose p {
    margin-top: 1.25rem;
    color:var(--primary-gray)
  }

.webTechLabel{
  background-color: #8882;
   padding: 0.25rem;
  border-radius: 4px;
  color: var(--light-gray);
 
} 
.webTechLabel:hover{
background-color: var(--regular-gray);
color:var(--primary-white)
  }
.hrClass {
  height: 0.15rem;
  width: 3.25rem;
  border-color: #7d7d7d4d;
  margin: 2rem auto
}
